/* --GLOBAL-- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    /* COLORS */

    --primary-color: #F0EDF3;
    --secondary-color: #AE8FD4;
    --tertiary-color: #EACFFF;
    --font-color: #5B5368;

    /* BORDER RADIUS */

    --border-radius: 20px;

    /* BOX SHADOW */

    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  } 

/* HEADINGS */

h1{
    font-size: 3.75rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -2px;
    color: var(--font-color);
    line-height: 3.75rem;
    text-transform: capitalize;
}

h2{
    font-size: 3.75rem;
    font-weight: 900;
    font-style: italic;
    letter-spacing: -2px;
    color: var(--font-color);
    line-height: 3.75rem;
    text-transform: capitalize;
}

h3{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: -2px;
    color: var(--font-color);
    line-height: 3.5rem;
}

p{
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--font-color);
    line-height: 2.3rem;
}

.sub-title{
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: 0px;
    color: var(--font-color);
    padding-left: 0.5rem;
}

.blog-date{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--font-color);
    margin-top: 1rem;
}

.blog-introduction{
    font-size: 1.125rem;
    font-weight: 700;
    color: var(--font-color);
    line-height: 2.3rem;
}

/* BUTTONS */

.primary-button{
    background-color: var(--primary-color);
    color: var(--font-color);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border: solid 2px var(--font-color);
    border-radius: 25px;
    padding: 0.6rem 0.5rem;
    min-width: 8rem;
}    

.secondary-button{
    background-color: var(--tertiary-color);
    color: var(--font-color);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border: solid 2px var(--font-color);
    border-radius: 25px;
    padding: 0.6rem 0.5rem;
    min-width: 8rem;
}  

.tertiary-button{
    background-color: var(--font-color);
    color: var(--primary-color);
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    border: solid 2px var(--font-color);
    border-radius: 25px;
    padding: 0.6rem 0.5rem;
    min-width: 8rem;
}

.primary-button:hover{
    text-decoration-line: underline;
}

.secondary-button:hover{
    text-decoration-line: underline;
}

.tertiary-button:hover{
    text-decoration-line: underline;
}

/* CREATE BLOG BUTTON  */

.create-blog-button{
    position: relative;
    background-color: var(--tertiary-color);
    border: solid 3px var(--font-color);
    border-radius: 20px;
    width: 20rem;
    height: 18rem;
    margin-top: 3rem;
}

.create-blog-button a{
    position: absolute;
    top: 50%;
    left: 50%;
    inset: 0;
    background-color: var(--tertiary-color);
    border: dashed 4px var(--font-color);
    color: var(--font-color);
    text-decoration: none;
    font-size: 3.4rem;
    font-weight: 300;
    line-height: 3.5rem;
    letter-spacing: -2px;
    border-radius: 15px;
    margin: 1rem;
    padding: 2rem;
}

.create-blog-button img{
    position: absolute;
    background-color: var(--tertiary-color);
    top: 60%;
    left: 65%;
}

/* BASE LAYOUT */

main{
    padding: 2.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.heading-title-contain{
    margin-bottom: 1rem;
}

/* LAYOUT BLOG POST */

.image-container{
    width: 20rem;
    height: 20rem;
    overflow: hidden;
    border-radius: var(--border-radius);
    border: solid 2px var(--font-color);
    margin-bottom: 1rem;
}

.image-container img{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

/* BREAKPOINTS */

@media (min-width:65rem){
    main {
        background-color: green;
    }
}

@media (min-width:90rem){
    main {
        background-color: blue;
    }
}
